<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybuy.dao.product.ProductMapper">
	<!--根据id查询产品信息  -->
	<select id="getProductById" parameterType="int" resultType="Product">
		select * from product
		<where>
			<if test="id!=null and id!=''">
				id =#{id}
			</if>
		</where> 
	</select>
	
	<select id="getProductCountByCategoryId" resultType="int">
		select count(1) from product
		<where>
			<if test="categoryId!=null">
				and categoryLevel1Id=#{categoryId} or categoryLevel2Id=#{categoryId} or categoryLevel3Id=#{categoryId}
			</if>
		</where>
	</select>
	
	<select id="getProductListByInfo" parameterType="Product" resultType="Product">
		select * from product
		<where>
			<if test="id!=null and id!=''">
				and id =#{id}
			</if>
			<if test="name!=null and name!=''">
				and `name` like concat('%',#{name},'%')
			</if>
			<if test="describe!=null and describe!=''">
				 and `describe` = #{describe}
			</if>
			<if test="price!=null and price!=''">
				 and price = #{price}
			</if>
			<if test="stock!=null and stock!=''">
				and stock = #{stock}
			</if>	
			<if test="categoryLevel1!=null and categoryLevel1!=''">
				and categoryLevel1 =#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=null and categoryLevel2!=''">
				and categoryLevel2 =#{categoryLevel2}
			</if>
			<if test="categoryLevel3!=null and categoryLevel3!=''">
				and categoryLevel3 =#{categoryLevel3}
			</if>
			<if test="fileName!=null and fileName!=''">
				and fileName =#{fileName}
			</if>
			<if test="isDelete!=null and isDelete!=''">
				and isDelete =#{isDelete},
			</if>
			
			<if test="createTime!=null and createTime!=''">
				and createTime = #{createTime}
			</if>	
		</where>
	</select>
	
	<select id="getListProductByCategoryLevelId" resultType="Product">
		select * from product
		<where>
			<if test="categoryLevelId!=null">
				and categoryLevel1Id=#{categoryLevelId} or categoryLevel2Id=#{categoryLevelId} categoryLevel3Id=#{categoryLevelId}
			</if>
		</where>
		limit #{startIndex},#{pageSize}
	</select>
	
	<select id="getTotalCount" resultType="Integer">
		select count(1) from product
	</select>
	
	<!--根据id删除产品信息  -->
	<delete id="deleteProductById" parameterType="int">
		delete from product where id =#{id}
	</delete>
	
	<!--修改产品信息  -->
	<update id="updateProduct" parameterType="Product">
		update product 
		<set>
			<if test="name!=null and name!=''">
				`name` =#{name},
			</if>
			<if test="describe!=null and describe!=''">
				`describe` = #{describe},
			</if>
			<if test="price!=null and price!=''">
				price = #{price},
			</if>
			<if test="stock!=null and stock!=''">
				stock = #{stock},
			</if>
			
			<if test="categoryLevel1!=null and categoryLevel1!=''">
				categoryLevel1 =#{categoryLevel1},
			</if>
			<if test="categoryLevel2!=null and categoryLevel2!=''">
				categoryLevel2 =#{categoryLevel2},
			</if>
			<if test="categoryLevel3!=null and categoryLevel3!=''">
				categoryLevel3 =#{categoryLevel3},
			</if>
			<if test="fileName!=null and fileName!=''">
				fileName =#{fileName},
			</if>
			<if test="isDelete!=null and isDelete!=''">
				isDelete =#{isDelete},
			</if>
			
			<if test="createTime!=null and createTime!=''">
				createTime = #{createTime},
			</if>
		</set>
			where id =#{id}
	</update>
	
	<!-- 增加产品信息 -->
	<insert id="addProduct" >
		insert into product
		(`name`,`describe`,price,stock,categoryLevel1Id,categoryLevel2Id,categoryLevel3Id,fileName,isDelete)
		values(#{product.name},#{product.describe},#{product.price},#{product.stock},#{product.categoryLevel1Id},
		#{product.categoryLevel2Id},#{product.categoryLevel3Id},#{product.fileName},#{product.isDelete})
	</insert>
	
	
	
</mapper>